<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    <h1>Hello {{username}}</h1>
    <style>
        a {
            font-family: 'Raleway', sans-serif;
            font-size: large;
            margin: 10px 5px;
        }
        img {
            margin: 10px 5px;
        }

    </style>
    <img src="/static?file=pusheen.gif"/>
    <br>
    <a href="/user/register/view">Register</a>
    <a href="/user/login/view">Login</a>
    <a href="/todo/index">Todo</a>
    <a href="/todo/ajax/index">TodoAjax</a>
    <a href="/weibo/index">Weibo</a>
    <a href="/messages/index">Messages</a>
    <a href="/admin/users">Admin</a>
</body>
</html>